<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='partials/alert/styles.css') }}">
    {% block extracss %}{% endblock extracss %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>MV Vidros - {{context.title}}</title>
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="logo">
                    <a href="{{url_for('dashboard')}}"><img src="{{ url_for('static', filename='images/testelogo.png') }}" alt="Logo"></a>
            </div>
            <div class="profile">
                <div class="photo"><img src="{{ url_for('static', filename='images/minha.jpg') }}" alt="foto de perfil"></div>
                <div class="info"><span id="username">{{context.user.name}}</span><br><span id="userrole">{{context.user.role}}</span></div>
            </div>
            {% block navbar %}{% endblock navbar %}
        </div>

        <div class="dashboard">
            <div class="sidebar">
                <div class="menu-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="menu">
                    <h1>Opções de Navegação</h1>
                    <ul>
                        <li>
                            <a href="{{ url_for('dashboard') }}" id='dashboard'>
                            <span class="icon-wrap">
                                <svg viewBox="0 0 24 24"><path d="M12 3l9 8h-3v9H6v-9H3l9-8z"/></svg> 
                            </span>
                            <span>Início</span>
                            </a>
                        </li>
                    <li>
                            <a href="{{ url_for('dashboard_sales') }}" id='vendas'>
                            <span class="icon-wrap">
                                <svg viewBox="0 0 24 24"><path d="M3 6h18l-2 12H5L3 6zm5 14a2 2 0 104 0H8z"/></svg>
                            </span>
                            <span>Vendas</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{url_for('dashboard_stock')}}" id='estoque'>
                            <span class="icon-wrap">
                            <svg viewBox="0 0 24 24"><path d="M4 6h16v2H4V6zm0 5h16v2H4v-2zm0 5h10v2H4v-2z"/></svg>
                            </span>
                            <span>Estoque</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{url_for('dashboard_users')}}" id='usuarios'>
                            <span class="icon-wrap">
                            <svg viewBox="0 0 24 24"><path d="M12 12a5 5 0 100-10 5 5 0 000 10zm-9 9a9 9 0 1118 0H3z"/></svg>
                            </span>
                            <span>Usuários</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="logout"><a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i><span id='logout-text'>Sair</span>
                </a></div>
            </div>
            <div class="content">
                <div class="top-of-page">
                    <div class="current-path">
                        <a href="{{url_for('dashboard')}}">
                            <span class="icon-wrap">
                                <svg viewBox="0 0 24 24"><path d="M12 3l9 8h-3v9H6v-9H3l9-8z"/></svg>
                            </span>
                            </a>
                            <span>/</span>
                    </div>
                </div>
                {% block content %}{% endblock content %}
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", () => {

            const paths = window.location.pathname.split('/').filter(Boolean);
            const ahref = document.querySelector(`#${paths[paths.length - 1]}`);

            if (ahref) {
                ahref.classList.add("active");
            }

            const currentPath = document.querySelector('.current-path');
            if (paths.length > 1) {
                paths.forEach((path, i) => {
                    const paragraph = document.createElement('p');

                    if (path !== 'usuarios') {
                        paragraph.innerText = path.charAt(0) + path.slice(1);
                    }
                    else {
                        paragraph.innerText = 'Usuários '
                    }

                    currentPath.appendChild(paragraph);

                    if (i !== (paths.length - 1)) {
                        const arrow = document.createElement('span');
                        arrow.innerText = '/'
                        currentPath.appendChild(arrow)
                    }
                });
            }
            else {
                const paragraph1 = document.createElement('p');
                paragraph1.innerText = 'Dashboard';
                currentPath.appendChild(paragraph1);

                const arrow = document.createElement('span');
                arrow.innerText = '/';
                currentPath.appendChild(arrow);

                const paragraph2 = document.createElement('p');
                paragraph2.innerText = 'Home';
                currentPath.appendChild(paragraph2);
            }


            ahref.addEventListener('click', e => {
                e.preventDefault();
            });

            const toggleBtn = document.querySelector(".menu-btn");
            const sidebar = document.querySelector(".sidebar");

            toggleBtn.addEventListener("click", () => {
            sidebar.classList.toggle("collapsed");
            });

            
        });
    </script>
    {% include "partials/alert.html" %}
</body>
</html>