* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/loja.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Exo 2", sans-serif;
}

.container {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dad9d9;
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    opacity: 0;
    transform: translateY(-50px);
    animation: slideDown 1.4s ease forwards;
}

.auth img {
    display: block;
    width: 50px;
    margin: 15px auto 0 auto;
    cursor: pointer;
}

.auth-title {
    width: 100%;
    text-align: center;
    color: #1448a1;
    margin-bottom: 20px;
}

.auth-form {
    display: flex;
    width: 100%;
    justify-content: center;
}

.auth-form form {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 10px;
}

.auth-form input {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: #c8c7c7;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.auth-form input:focus {
    outline-color: #1448a1;
}

.auth-form button {
    border: none;
    width: 100%;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #1951B2;
    color: #fff;
    font-weight: 800;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.forgot-password {
    width: 90%;
    margin-top: 10px;
    text-align: left;
}

.forgot-password a {
    text-decoration: none;
    color: #1448a1;
    font-weight: 600;
    font-size: 14px;
    text-decoration: underline;
}

.signup-password,
.signup-login,
.login-password,
.login {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #333;
    font-weight: 600;
    font-size: 14px;
}

.signup-password label,
.signup-login label,
.login-password label,
.login label {
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 2px;
}

.error-messages p {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 1.5s ease, max-height 1.5s ease;
    color: red;
    font-size: 13px;
}

.error-messages p.show {
    opacity: 1;
    max-height: 100px;
}

.several-error-message {
    max-height: 0;
    color: red;
    font-size: 13px;
    transition: max-height 1.5s ease;
}

.several-error-message.show {
    max-height: 300px;  
}

@media (max-width: 430px) {
    .auth {
        width: 90%;
    }
}

@keyframes slideDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}