<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='partials/alert/styles.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <div class="logo">
                <img src="{{ url_for('static', filename='images/mvlogo.png') }}" alt="Logo">    
            </div>
            <div class="menu">

            </div>
            <div class="logout"><a href="{{ url_for('logout') }}">SAIR <i class="fas fa-sign-out-alt"></i>
</a></div>
        </div>
        <div class="dashboard">
            <div class="navbar"></div>
            <div class="content"></div>
        </div>
    </div>

    {% include "partials/alert.html" %}
</body>
</html>