<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='partials/alert/styles.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <div class="logout"><a href="{{ url_for('logout') }}">Sair <span>teste</span></a></div>
        </div>
        <div class="dashboard">
            <div class="navbar"></div>
            <div class="content"></div>
        </div>
    </div>

    {% include "partials/alert.html" %}
</body>
</html>