<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='verify_code/styles.css') }}">
  <title>Verificação</title>
</head>
<body>
  <div class="container">
    <div class="verify-card">
      <h2>Digite o código de verificação</h2>
      <p>Enviamos um código de 6 dígitos para seu e-mail. Insira-o abaixo para continuar:</p>
      
      <form method="POST" class="code-form">
        <div class="code-inputs">
          <input type="text" maxlength="1" name="n1" required pattern="[0-9]*" inputmode="numeric">
          <input type="text" maxlength="1" name="n2" required pattern="[0-9]*" inputmode="numeric">
          <input type="text" maxlength="1" name="n3" required pattern="[0-9]*" inputmode="numeric">
          <input type="text" maxlength="1" name="n4" required pattern="[0-9]*" inputmode="numeric">
          <input type="text" maxlength="1" name="n5" required pattern="[0-9]*" inputmode="numeric">
          <input type="text" maxlength="1" name="n6" required pattern="[0-9]*" inputmode="numeric">
        </div>
        {% if context.error %}
              <p style="color:red; font-size:13px; text-align:left" id='error'>{{ context.error }}</p>
        {% endif %}
        <button type="submit">Validar Código</button>
        <div class="back-to-home"><a href="{{url_for('login')}}">Deseja voltar ao Início?</a></div>
        <a href="{{ url_for('login') }}">
            <img src="{{ url_for('static', filename='images/mvlogo.png') }}" alt="Logo">
        </a>

      </form>
    </div>
  </div>

  <script>
    const inputs = document.querySelectorAll(".code-inputs input");
    inputs.forEach((input, index) => {
      input.addEventListener("input", (e) => {
        e.target.value = e.target.value.replace(/[^0-9]/g, "");

        if (input.value.length === 1 && index < inputs.length - 1) {
          inputs[index + 1].focus();
        }
      });
      input.addEventListener("keydown", (e) => {
        if (e.key === "Backspace" && !input.value && index > 0) {
          inputs[index - 1].focus();
        }
      });
    });
  </script>
</body>
</html>
