  <!DOCTYPE html>
  <html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='reset_password/styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <title>Login</title>
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <script>
        alert("{{ messages[0] }}");
      </script>
    {% endif %}
  {% endwith %}

  <div class="container">
    <div class="reset_password">
    <div class="reset-title"><h1>Redefinir senha</h1></div>
    <div class="reset-form">
      <p>Esqueceu sua senha? Não tem problema! Informe seu e-mail cadastrado e enviaremos um código de verificação. Com ele, você poderá redefinir sua senha de forma simples e segura, garantindo o acesso à sua conta novamente.</p>
          <form method="POST">
            <div class="reset_email">
              <label for="reset_email">Email:</label>
              <input type="text" name="reset_email" id="reset_email" placeholder="Informe seu Email">
            </div>
            {% if context.error %}
              <span style="color:red; font-size:13px">{{ context.error }}</span>
            {% endif %}
            <button type="submit">Resetar Senha</button>
          </form>
        </div>
        <div class="remember-password"><a href="{{url_for('login')}}">Lembrou a senha?</a></div>
      <a href="{{url_for('login')}}"><img src="{{ url_for('static', filename='images/mvlogo.png') }}" alt="Logo"></a>
    </div>
  </div>
  </body>
  </html>