<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='reset_password/styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>MV Vidros - {{context.title}}</title>
</head>
<body>
  <div class="container">
    <div class="reset_password">
    <div class="reset-title"><h1>Redefinir senha</h1></div>
    <div class="reset-form">
        <p>Para proteger sua conta, digite uma nova senha e confirme no campo abaixo.
            <br>Recomendamos usar uma combinação de letras, números e símbolos para garantir ainda mais segurança..</p>
          <form method="POST" onsubmit='authValidation(event)'>
            <div class="password">
              <label for="password">Senha:</label>
              <input type="password" name="password" id="password" placeholder="Informe uma senha">
            </div>
            <div class="password-confirm">
              <label for="password-confirm">Confirmar Senha:</label>
              <input type="password" name="password-confirm" id="password-confirm" placeholder="Confirme sua senha">
            </div>
            {% if context.error %}
              <span style="color:red; font-size:13px">{{ context.error }}</span>
            {% endif %}
            <div class="error-messages"></div>
            <button type="submit">Resetar Senha</button>
          </form>
        </div>
        <div class="remember-password"><a href="{{url_for('auth.login_page')}}">Lembrou a senha?</a></div>
      <a href="{{url_for('auth.login_page')}}"><img src="{{ url_for('static', filename='images/mvlogo.png') }}" alt="Logo"></a>
    </div>
  </div>

   {% if context.error %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            showErrorMessage("{{context.error}}");
        });
    </script>
  {% endif %}

  <script src="{{ url_for('static', filename='authpage/scripts.js') }}"></script>

</body>
</html>