{% extends "partials/dashboard-template.html" %}
{% block extracss %} <link rel="stylesheet" href="{{ url_for('static', filename='dashboard/index/styles.css') }}">{% endblock extracss %}

{% block navbar %}
<div class="profile">
    <div class="photo"><img src="{{ url_for('static', filename='images/minha.jpg') }}" alt="foto de perfil"></div>
    <div class="info"><span id="username">{{context.user.name}}</span><br><span id="userrole">{{context.user.role}}</span></div>
</div>
{% endblock navbar %}

{% block content %} 

{% endblock content %}   

